<div id="main">

    <h3>Mork</h3>

    <img src="/images/mork.jpg" alt="Mork from Ork" class="leftImg">

    <p>Mork (portrayed by Robin Williams) — An alien from the planet Ork sent to observe human behavior. Mork mentions many
        times that Orkan scientists grew him in a test-tube.</p>

    <p>Mork's greeting is "Na-Nu Na-Nu" (pronounced /ˈnɑːnuː ˈnɑːnuː/) along with a hand gesture similar to Mr. Spock's Vulcan salute
        from Star Trek combined with a handshake. It became a popular catchphrase at the time, as did "Shazbot" (/ˈʃɑːzbɒt/), an
        Orkan profanity that Mork uses. Mork says "KO" in place of "OK".</p>

    <p>Mork arrives on Earth in an egg-shaped spacecraft. He has been assigned to observe human behavior by Orson, his
        mostly unseen and long-suffering superior (voiced by Ralph James). Orson has sent Mork, in order to get him off Ork,
        where humor is not permitted. Attempting to fit in, Mork dresses in an Earth suit, but wears it backward. </p>

</div>